.gallery img{
        width: 100%;
 }
#meun{
    width: 100% ;
    height: 40px;
    background-color; background-origin: padding-box
    
}
#meun{
    color; text-decoration-color: red;
    font-family: fantasy sans-serif;
    font: 80px;
    text-decoration: none;
    font-weight:800;
    
    padding-left: 20px;
    padding-right: 20px;
    
}
h1[
color: aquamarine;
]